# corporateIdentificationNumber

Describes the unique identifier of any legitimate company
